.tooltip-toggle {
    cursor: pointer;
    position: relative;
}
    
.tooltip-toggle::before {
    content: attr(data-tooltip); 
    position: absolute;
    top: -30px;
    transform: translateX(-50%);
    font-size: 12px;
    padding: 0 12px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
}
    
.tooltip-toggle::after {
    position: absolute;
    top: -10px;
    left: 9px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgba(0, 0, 0, 0.8);
    content: " ";
    font-size: 0;
    line-height: 0;
    margin-left: -5px;
    width: 0;
}
    
.tooltip-toggle::before,
.tooltip-toggle:after {
    opacity: 0;
    pointer-events: none;
    transition: all 0.75s ease;
}

.tooltip-toggle:hover::before,
.tooltip-toggle:hover::after {
    opacity: 1;
    transition: all 1s ease;
}
.tooltip-toggle:hover::before{
    width: auto;
}