<!DOCTYPE HTML>
<html ng-app="myApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>expand</title>
<style>
	
</style>

<script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/angular.js/1.5.6/angular.min.js"></script>
<script>
	var m1 = angular.module("myApp",[]);
	m1.controller('MyController',['$scope',function($scope){
		$scope.dto = {
		}
		
	}]).directive('lkInteractiveRangeCheck',['$parse',function($parse){
		return {
			require:'?ngModel',
			scope:{
				lkMin:'=',
				lkMax:'='
			},
			link:function(scope,ele,attrs,ngModelCtrl){
				ele.on('blur',function(){
					if(scope.lkMax){
						// 处理数字
						if(scope.lkMax == parseInt(scope.lkMax,10)){
							if($(this).val() !== '' &&　parseInt($(this).val(),10) > parseInt(scope.lkMax,10)){
								alert('起始值不能大于结束值');
								_initInputValue();
							}
						}else{
							if($(this).val() !== '' &&　$(this).val() > scope.lkMax){
								alert('起始日期不能大于结束日期');
								_initInputValue();
							}
						}
					}else if(scope.lkMin){
						if(scope.lkMin == parseInt(scope.lkMin,10)){
							if($(this).val() !== '' && parseInt($(this).val(),10) < parseInt(scope.lkMin,10)){
								alert('结束值不能小于起始值');
								_initInputValue();
							}
						}else{
							if($(this).val() !== '' && $(this).val() < scope.lkMin){
								alert('结束日期不能小于起始日期');
								_initInputValue();
							}
						}
					}
				})

				function _initInputValue(){
					$(ele).val('');
					$(ele).focus();
					ngModelCtrl.$setViewValue('');
				}
			}
		}
	}])
	
</script>
</head>

<body>
	<div ng-controller='MyController'>
		<input type="text" ng-model='dto.start'  lk-interactive-range-check lk-max='dto.end'>
		<input type="text" ng-model='dto.end'  lk-interactive-range-check lk-min='dto.start'>
	</div>
</body>
</html>
