<!DOCTYPE HTML>
<html ng-app="myApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>无标题文档</title>
<style>
	*{
		list-style: none;
	}
	.clearfix:after {content:"."; display:block; height:0; visibility:hidden; clear:both; }
	.clearfix >div{
		float: left;
	}
	.clearfix >div:nth-of-type(1){
		width: 20px;
	}
	.clearfix >div:nth-of-type(2){
		width: 800px;
	}
	.clearfix >div:nth-of-type(3){
		width: 300px;
	}
	.lk-min-w-150{
		display: inline-block;
		min-width: 150px;
	}
	.lk-w-64{
		width: 64px;
	}
</style>
<script src="http://cdn.bootcss.com/underscore.js/1.8.3/underscore-min.js"></script>
<script src="http://cdn.bootcss.com/angular.js/1.5.6/angular.min.js"></script>
<script>
	var m1 = angular.module("myApp",[]);
	m1.controller('MainController',['$scope',function($scope){
		var orignalData = JSON.parse('[{"id":1,"name":"三伏贴","nameCn":"","amount":"","norm":"","price":"1000","priceUnit":"元"},{"id":2,"name":"中医膏方","nameCn":"","amount":"","norm":"","price":"2000","priceUnit":"元"},{"id":4,"name":"吸氧","nameCn":"","amount":"12","norm":"小时","price":"100","priceUnit":"元/半小时"},{"id":8,"name":"换药（中）","nameCn":"","amount":"","norm":"","price":"500","priceUnit":"元"},{"id":12,"name":"敷料（大）","nameCn":"","amount":"","norm":"","price":"300","priceUnit":"元"}]');
		$scope.obj = {};
		var submitArr = [];
		// 换药
		$scope.hy = '';
		$scope.hyObj = {
			7:'300',
			8:'500',
			9:'800',
		};
		// 敷料
		$scope.fl = '';
		$scope.flObj = {
			10:'100',
			11:'200',
			12:'300',
		};
		// 缝合
		$scope.fh = '';
		$scope.fhObj = {
			17:'500',
			18:'800',
		};
		// 转诊费
		$scope.zzf = '';
		$scope.zzfObj = {
			27:'1000',
			28:'2000',
		};
		$scope.customizedItems = [];
		$scope.items = [
			{
				id:1,
				name:'三伏贴',
				nameCn:'',
				amount:'',
				norm:'',
				price:'1000',
				priceUnit:'元'
			},
			{
				id:2,
				name:'中医膏方',
				nameCn:'',
				amount:'',
				norm:'',
				price:'',
				priceUnit:'元'
			},
			{
				id:3,
				name:'常规心电图检查',
				nameCn:'',
				amount:'',
				norm:'',
				price:'200',
				priceUnit:'元'
			},
			{
				id:4,
				name:'吸氧',
				nameCn:'',
				amount:'',
				norm:'小时',
				price:'100',
				priceUnit:'元/半小时'
			},
			{
				id:5,
				name:'观察',
				nameCn:'',
				amount:'',
				norm:'小时',
				price:'100',
				priceUnit:'元/小时'
			},
			{
				id:6,
				name:'心电监护',
				nameCn:'',
				amount:'',
				norm:'小时',
				price:'300',
				priceUnit:'元/小时'
			},
			{
				id:7,
				name:'换药（小）',
				nameCn:'',
				amount:'',
				norm:'',
				price:'300',
				priceUnit:'元'
			},
			{
				id:8,
				name:'换药（中）',
				nameCn:'',
				amount:'',
				norm:'',
				price:'500',
				priceUnit:'元'
			},
			{
				id:9,
				name:'换药（大）',
				nameCn:'',
				amount:'',
				norm:'',
				price:'800',
				priceUnit:'元'
			},
			{
				id:10,
				name:'敷料（小）',
				nameCn:'',
				amount:'',
				norm:'',
				price:'100',
				priceUnit:'元'
			},
			{
				id:11,
				name:'敷料（中）',
				nameCn:'',
				amount:'',
				norm:'',
				price:'200',
				priceUnit:'元'
			},
			{
				id:12,
				name:'敷料（大）',
				nameCn:'',
				amount:'',
				norm:'',
				price:'300',
				priceUnit:'元'
			}
		]
		_convertArrToObj($scope.items,$scope.obj);

		_convertToChooseData();

		function _convertToChooseData(){
			for (var i = 0,len = orignalData.length;i < len; i++) {
				
				if(orignalData[i].id){
					if(!_objToId(orignalData[i].id)){
						orignalData[i].checked = true;
						$scope.obj[orignalData[i].id] = angular.extend($scope.obj[orignalData[i].id],orignalData[i]);
					}
				}
			};
		}

		//是否包含四个单选项的id
		function _objToId(id){
			if($scope.hyObj[id]){
				$scope.hy = id;
				return true;
			}else if($scope.flObj[id]){
				$scope.fl = id;
				return true;
			}else if($scope.fhObj[id]){
				$scope.fh = id;
				return true;
			}else if($scope.zzfObj[id]){
				$scope.zzf = id;
				return true;
			}
			return false;
		}

		$scope.clearPrice = function(item){
			if(!item.checked){
				item.price = '';
			}
		}

		$scope.clearAmount = function(item){
			if(!item.checked){
				item.amount = '';
			}
		}

		$scope.logData = function(){
			submitArr = _.filter($scope.items,function(item){
				if(item.id == 2){
					return item.checked && item.price;
				}else{
					if(item.norm){
						return item.checked && item.amount;
					}
					return item.checked ;
				}
			});
			if($scope.hy){
				submitArr.push($scope.obj[$scope.hy]);
			}
			if($scope.fl){
				submitArr.push($scope.obj[$scope.fl]);
			}
			var arr = _.filter($scope.customizedItems,function(item){
				return item.checked;
			});
			submitArr = angular.copy(submitArr.concat(arr));
			_delProperty(submitArr,'checked');
			console.log(JSON.stringify(submitArr));
		}
		

		function _convertArrToObj(arr,obj){
			for(var i = 0,len = arr.length;i < len;i++){
				if(arr[i].id){
					obj[arr[i].id] = arr[i];
				}else{
					arr[i].checked = true;
					$scope.customizedItems.push(arr[i]);
				}
			}
		}

		function _delProperty(arr,key){
			for(var i = 0,len = arr.length;i < len;i++){
				if(arr[i][key]){
					delete arr[i][key];
				}
			}
		}

	}]);
</script>
</head>

<body>
	<div ng-controller='MainController'>
		<div class="clearfix">
			<div><input type='checkbox' ng-model='obj[1].checked'></div>
			<div>
				{{obj[1].name}}
			</div>
			<div>
				<span>{{obj[1].price}}{{obj[1].priceUnit}}</span>
			</div>
		</div>
		<div class="clearfix">
			<div><input type='checkbox' ng-model='obj[2].checked' ng-change='clearPrice(obj[2])'></div>
			<div>
				{{obj[2].name}}
			</div>
			<div>
				<span><input type='text' ng-model='obj[2].price' ng-disabled='!obj[2].checked' lk-mask='9?99999'>{{obj[2].priceUnit}}</span>
			</div>
		</div>
		<div class="clearfix">
			<div><input type='checkbox' ng-model='obj[3].checked'></div>
			<div>
				{{obj[3].name}}
			</div>
			<div>
				<span>{{obj[3].price}}{{obj[3].priceUnit}}</span>
			</div>
		</div>
		<div class="clearfix">
			<div><input type='checkbox' ng-model='obj[4].checked' ng-change='clearAmount(obj[4])'></div>
			<div>
				<span class='lk-min-w-150'>{{obj[4].name}}</span>
				<input type='text' ng-model='obj[4].amount' class="lk-w-64" ng-disabled='!obj[4].checked' lk-mask='9?####'/>{{obj[4].norm}}	
			</div>
			<div>
				<span>{{obj[4].price}}{{obj[4].priceUnit}}</span>
			</div>
		</div>
		<div class="clearfix">
			<div><input type='checkbox' ng-model='obj[5].checked'></div>
			<div>
				<span class='lk-min-w-150'>{{obj[5].name}}</span>
				<input type='text' ng-model='obj[5].amount' class="lk-w-64" lk-mask='9?99'/>{{obj[5].norm}}	
			</div>
			<div>
				<span>{{obj[5].price}}{{obj[5].priceUnit}}</span>
			</div>
		</div>
		<div class="clearfix">
			<div><input type='checkbox' ng-model='obj[6].checked'></div>
			<div>
				<span class='lk-min-w-150'>{{obj[6].name}}</span>
				<input type='text' ng-model='obj[6].amount' class="lk-w-64" lk-mask='9?99'/>{{obj[6].norm}}	
			</div>
			<div>
				<span>{{obj[6].price}}{{obj[6].priceUnit}}</span>
			</div>
		</div>
		<div class="clearfix">
			<div>&nbsp;</div>
			<div>
				<label class="lk-label"><input type='checkbox' ng-model='hy' ng-false-value="" ng-true-value="{{obj[7].id}}">{{obj[7].name}}</label>
				<label class="lk-label"><input type='checkbox' ng-model='hy' ng-false-value="" ng-true-value="{{obj[8].id}}">{{obj[8].name}}</label>
				<label class="lk-label"><input type='checkbox' ng-model='hy' ng-false-value="" ng-true-value="{{obj[9].id}}">{{obj[9].name}}</label>
			</div>
			<div>
				<span>{{hyObj[hy]}}<span ng-if='hyObj[hy]'>{{obj[7].priceUnit}}</span></span>
			</div>
		</div>
		<div class="clearfix">
			<div>&nbsp;</div>
			<div>
				<label class="lk-label"><input type='checkbox' ng-model='fl' ng-false-value="" ng-true-value="{{obj[10].id}}">{{obj[10].name}}</label>
				<label class="lk-label"><input type='checkbox' ng-model='fl' ng-false-value="" ng-true-value="{{obj[11].id}}">{{obj[11].name}}</label>
				<label class="lk-label"><input type='checkbox' ng-model='fl' ng-false-value="" ng-true-value="{{obj[12].id}}">{{obj[12].name}}</label>
			</div>
			<div>
				<span>{{flObj[fl]}}<span ng-if='flObj[fl]'>{{obj[10].priceUnit}}</span></span>
			</div>
		</div>
		<div class="clearfix" ng-repeat='item in customizedItems track by $index'>
			<div><input type='checkbox' ng-model='item.checked'></div>
			<div>
				{{item.name}}
			</div>
			<div>
				<span>{{item.price}}{{item.priceUnit}}</span>
			</div>
		</div>
		<button ng-click='logData()'>啊方式力进三氟林就是家乐福经理四级分类</button>
	</div>
</body>
</html>