*{
    padding: 0;
    margin: 0;
}
body{
    font:14px/1 "Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
    background: rgb(242,245,247);
}
.main-content{
    width: 600px;
    padding: 50px 40px;
    box-sizing: border-box;
    margin: 0 auto;
    background: #fff;
}
.font-size-12{font-size: 12px;}
.font-size-20{font-size: 20px;}
.color-white{color: white}
.input-color{color: #839096;}
.mt-10{margin-top: 10px;}
.mt-15{margin-top: 15px;}
.mt-20{margin-top: 20px;}
.mt-40{margin-top: 40px;}
.ml-10{margin-left: 10px;}
.ml-5{margin-left: 5px;}
.mr-10{margin-right: 10px;}
.mr-40{margin-right: 40px;}
.mr-80{margin-right: 80px;}
.pl-40{padding-left: 40px;}
.line-height-24{line-height: 24px;}
.line-height-26{line-height: 26px;}
.clearfix:after{content:".";display: block;height:0;clear:both;visibility:hidden}
.line :after,.clearfix :after{
    display:inline-block;
}
.itemswrapper.clearfix:after{
    display:block;
}
.fl{float: left;}
.fr{float: right;}
.reg-welcome{color: #383d48;}
a:link{color: #0095f1;text-decoration: none;}
a:visited{color: #0095f1;text-decoration: none;}
a:hover{color: #0095f1;text-decoration: none;cursor: pointer;}
a:active{color: #0095f1;text-decoration: none;}
.star{color: #ff591f;}
.input-row{color: #383d48;}
.input-row.w190{
    width: 190px;
    margin-left: auto;
    margin-right: auto;
}
.input-row.auto-height .input-desc{
    height: 20px;
    line-height: 20px;
}
.input-row.auto-height .input-wrapper.label{
    height: 20px;
    line-height: 20px;
}
.input-row.auto-height .input-wrapper.auto-height{
    height: auto;
}
.input-desc{
    width: 100px;
    height: 36px;
    line-height: 36px;
    text-align: right;
}
.input-row.w190 .input-desc{
    width: 70px;
    text-align: left;
}
.input-wrapper{
    width: 420px;
    padding-left: 20px;
    height: 36px;
    position: relative;
    box-sizing: border-box;
}
.input-row.w190 .input-wrapper{
    width: 120px;
    padding-left: 0px;
}
.input-wrapper input[type='text'],.input-wrapper input[type='password']{
    width: 100%;
    padding: 0 12px;
    height: 36px;
    color: #839096;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #dee6ee;
}
.input-wrapper select{
    width: 100%;
    padding-left: 12px;
    height: 36px;
    color: #839096;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #dee6ee;
}
.input-wrapper select:focus{
    outline: none;
}
.input-wrapper input.success{
    border: 1px solid #0bbd64;
}
.input-wrapper input.error{
    border: 1px solid #ff591f;
}
.input-wrapper input:focus{
    border: 1px solid #0095f1;
    outline: none;
}
.error-desc{
    height: 22px;
    line-height: 22px;
    color: #ff591f;
}
.protocol-wrapper{
    margin-top: 20px;
    line-height: 20px;
    height: 20px;
}
.protocol-wrapper input{
    margin-right: 10px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.btn.submit_btn{
    display: block;
    width: 100%;
    margin-top: 40px;
    color: #fff;
    font-size: 16px;
    height: 44px;
    line-height: 44px;
}
.has-error + .btn.submit_btn{
    margin-top: 18px;
}
.btn{
    width: 140px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #1995f1;
    color: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
}
#sendCode{
    padding: 0;
    height: 36px;
    line-height: 36px;
}
#sendCode:active,#sendCode:focus{
    outline: 3px solid rgb(165,199,254);
}
#sendCode.disabled{
    border-color: #839096;
    background: #839096;
}
.btn.border{
    width: 100px;
    border: 1px solid #dee6ee;
    background: #fff;
    color: #383d48;
}
.btn.border.active{
    border: 1px solid #0095f1;
    color: #0095f1;
}
span.btn.disabled{
    background: #839096;
}
span.btn.disabled:hover{
    cursor: not-allowed;
}
a.btn:hover{color: #fff;text-decoration: none;cursor: pointer;}
.display-none{
    display: none;
}
.input-wrapper input.w250{
    width: 250px;
}
input[type='checkbox']:checked ~ .error-desc{
    display: none;
}
.navagitorWrapper{
    width: 600px;
    margin: 20px auto;
    text-align: center;
}
.navagitor{
    display: inline-block;
    vertical-align: middle;
    /* for ie6/7: */
   *display: inline;
   zoom: 1;
}
.step-link{
    width: 85px;
    height: 0px;
    border: 1px solid #dee6ee;
    margin: 18px -10px 0 -10px;
}
.step-link.success{
    border-color: #0bbd64;
}
.step{
    text-align: center;
}
.step span{
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 50%;
    color: #383d48;
    background: #fff;
    border: 2px solid #dee6ee;
    text-align: center;
    box-sizing: border-box;
}
.step.active span{
    border: 2px solid #0095f1;
    background: #0095f1;
    color: #fff;
}
.step.fail span{
    border: 2px solid #839096;
    background: #839096;
    color: #fff;
}
.step.success span{
    border: 2px solid #0bbd64;
    background: url(img/sprite.png) 1px -30px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}
.step p{
    color: #839096;
    margin-top: 10px;
}
.step.active p{
    color: #0095f1;
}
.label-input{
    line-height: 20px;
    height: 20px;
}
.label-input input{
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 10px;
}
.itemswrapper{
    margin-top: -15px;
}
.contacter{
    box-sizing: border-box;
    width: 190px;
    height: 82px;
    border: 2px dashed #839096;
    margin: 40px auto 20px;
    text-align: center;
}
.teacher_name{
    margin-top: 17px;
}
.pass-icon{
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #0095f1 url(img/sprite.png) 3px 3px;
    vertical-align: bottom;
}
.fail-icon{
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #ff591f url(img/sprite.png) 3px 33px;
    vertical-align: bottom;
}
#gotoTeacher{
    margin-top: 18px;
}
.btn-label{
    padding: 0 12px;
    box-sizing: border-box;
    height: 36px;
    line-height: 36px;
    border: 1px solid #dee6ee;
    border-radius: 2px;
    color: #383d48;
}
.icon-label{
    width: 50px;
    height: 20px;
    margin-top: 8px;
    background: url(img/icon.png) 0 -5px;
}
.icon-label.fail{
    background-position: 0 -35px;
}
.suggest{
    position: relative;
}
.tool-desc{
    cursor: pointer;
}
.tool-desc:hover + .tool-tip{
    display: block;
}
.tool-tip{
    width: 287px;
    position: absolute;
    background: #383d48;
    padding: 5px 12px;
    color: #fff;
    display: none;
    bottom: 20px;
    left: -88px;
}
.arrow-down {
    position: absolute;
    top: 100%;
    left: 140px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 8px solid #383d48;
}
#clazzList:empty{
    height: 35px;
}
