html,body,ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}
.fl{float: left;}
.fr{float: right;}
.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden}
.center-align{text-align: center;}
.dn{display: none;}
.ml-10{margin-left: 10px;}
.main{
    width: 1200px;
    margin: 0 auto;
}
.sidebar{
    width: 250px;
    float: left;
    position: relative;
}
.knowledges{
    height: 40px;
    overflow: hidden;
}
.knowledges.expand{
    height: auto;
    overflow: visible;
}

.knowledge-title{
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    background: lightblue;
    cursor: pointer;
}
.knowledge-title .icon{
    width: 12px;
    height: 12px;
    background: green;
    margin-top: 14px;
}
.knowledge-catalog{
    border-bottom: 1px solid #e1e1e1;
}
.knowledge-tab{
    float: left;
    width: 50%;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}
.knowledge-tab span{
    display: inline-block;
}
.knowledge-tab.active span,.knowledge-tab:hover span{
    color: lightblue;
    border-bottom: 2px solid blue;
}
.knowledge-list{
    position: relative;
}
.knowledge-item{
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
}
.knowledge-item .icon{
    width: 12px;
    height: 12px;
    background: purple;
    margin-top: 12px;
    display: none;
}
.knowledge-item:hover span{
    color: lightblue;
}
.knowledge-item:hover .icon{
    display: block;
}
.knowledge-sub-list-wrapper{
    position: absolute;
    top: 0;
    left: 100%;
    width: 600px;
    min-height: 100%;
}
.knowledge-sub-list{
    margin-left: 30px;
    background: blue;
    position: relative;
}
.knowledge-sub-list::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: red;
    top: 50%;
    left: -20px;
    margin-top: -10px;
}
.knowledge-sub-title{
    width: 20%;
}
.knowledge-sub-items{
    width: 80%;
}
.knowledge-sub-item{
    width: 33%;
    height: 32px;
    line-height: 32px;
}
