html{
    height: 100%;
}
body{
    background: #fbfbfb;
}
.item.first{
    margin-top: 2.2rem;
}
.item.mt{
    margin-top: 0.4rem;
}
.item{
    height: 2rem;
    line-height: 2rem;
    border-top: 1px solid #f6f6f6;
    border-bottom: 1px solid #f6f6f6;
    background: #fff;
    font-size: 0.6rem;
    color: #777;
    padding: 0 0.6rem;
}
.item + .item{
    border-top: none;
}
.item .select{
    color: #d8d8d8;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    padding-right: 0.7rem;
    box-sizing: border-box;
}
.item .select i.icon{
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -0.3rem;
}
.item .selected{
    color: #333;
}
.item .input{
    width: 60%;
}
.item .input input{
    width: 100%;
    height: 1.98888rem;
    color: #333;
    box-sizing: border-box;
    text-align: right;
    border: none;
    vertical-align: top;
}
.item .last{
    margin: 0 1.4rem 0 2.2rem;
}
.checkbox {
    font-size: 0.48rem;
    color: #777;
    padding-left: 0.6rem;
    margin-top: 1rem;
    margin-bottom: 0.4rem;
}
::-webkit-input-placeholder {
    color: #d8d8d8;
}
:-moz-placeholder {
   color: #d8d8d8;
   opacity: 1;
}
::-moz-placeholder {
   color: #d8d8d8;
   opacity: 1;
}
:-ms-input-placeholder {
   color: #d8d8d8;
}
.w25{
    width: 25%;
}
.w75{
    width: 75%;
    text-align: right;
}
