body{
    background: #f8f8f8;
}
.wrapper{
    margin-top: 1.8rem;
    margin-bottom: 2.6rem;

}
#member{
    font-size: 0.6rem;
    font-weight: bold;
    color: #fff;
    margin-top: 0.4rem;
    padding: 0.6rem 1rem;
    background: -webkit-linear-gradient(right,#C1BCFF,#9AC4FD);
    background: -o-linear-gradient(right,#C1BCFF,#9AC4FD);
    background: -moz-linear-gradient(right,#C1BCFF,#9AC4FD);
    background: linear-gradient(to right,#C1BCFF,#9AC4FD);
}
.icon-wrapper{
    background: url(../img/apply-member.png) left center no-repeat;
    background-size: 1.4rem 1.4rem;
    padding-left: 2rem;
}
#member .btn-primary{
    padding: 0.6em 0.8em;
    margin-top: 0.28rem;
}
#address{
    padding: 0.65rem 0.6rem 0.75rem;
    background: #fff url(../img/border.png) left bottom repeat-x;
    background-size: 1.46rem 0.1rem;
    color: #333;
}
#address.empty{
    text-align: center;
    font-size: 0.6rem;
    color: #448cff;
}
#address em{
    font-size: 0.52rem;
    font-weight: bold;
}
#address .phone{
    margin: 0 0.4rem 0 0.5rem;
}
#address .group{
    font-size: 0.4rem;
    line-height: 0.56rem;
    margin: 0.36rem 0;
}
#address .address{
    width: 90%;
}
#address .forward{
    width: 10%;
    height: 1.12rem;
    line-height: 1.12rem;
    text-align: right;
}
#address .forward .icon{
    width: 0.6rem;
    height: 0.6rem;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC0AAAAtCAMAAAANxBKoAAAASFBMVEUAAACTk5OTk5OSkpKhoaGTk5Otra2Xl5eVlZWxsbGvr6+UlJSVlZWXl5erq6uWlpaVlZWqqqqVlZWVlZWXl5eTk5OgoKCRkZHHBBGbAAAAF3RSTlMA597uJeI4NC8eK9jUKkDNoEc5PhiveFNflWcAAAB3SURBVEjH3dC5FYAwEANRXwsGc5hT/XcKJawCY2Di/xTIPNR+bITOsKteRwfb6nng+PgmHh2E4QKJ5biFI/mo5y3PQzG+luaJ4JvnuCARR55AVuPFY+4+hieP4de4uXEgcNJjWxC7vj7uhVkWiBqbzGCz58bU6wJoYghWskvZewAAAABJRU5ErkJggg==') no-repeat;
    background-size: 100%;
}
#address .mail{
    font-size: 0.4rem;
}
#invoice-title{
    text-align: right;
}
#member img{
    width: 100%;
    height: auto;
    margin: 0.4rem 0;
}
.order-list{
    margin-top: 0.4rem;
    border-top: 1px solid #f8f8f8;
}
.order-list li{
    border-bottom: 1px solid #f8f8f8;
    color: #333;
    background: #fff;
}
.order-product{
    padding: 0.6rem;
    box-sizing: border-box;
}
.order-product .img{
    width: 18.84057971%;
    padding-bottom: 18.84057971%;
}
.order-product .desc{
    width: 56.52173913%;
    padding: 0 0.4rem;
    box-sizing: border-box;
    font-size: 0.48rem;
}
.order-product .price{
    width: 24.637681%;
    text-align: right;
    font-size: 0.56rem;
    color: #448CFF;
}
.order-product .price .em{
    font-weight: bold;
}
.order-product .price .quantity{
    margin-top: 0.28rem;
    color: #9b9b9b;
}
.member-price{
    font-size: 0.36rem;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transform-origin: right;
    transform-origin: right;
}
.quantity .small{
    display: inline-block;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    margin-right: 0.1rem;
}
.item{
    height: 2rem;
    line-height: 2rem;
    font-size: 0.6rem;
    color: #777;
    padding: 0 0.6rem;
    background: #fff;
    margin-top: 0.4rem;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid #f8f8f8;
    box-sizing: border-box;
}
.item .fr{
    color: #333;
}
.item .fr label:nth-last-of-type(1){
    margin-left: 1rem;
}
.invoice .select{
    width: 20%;
}
.invoice .select .icon{
    width: 0.6rem;
    height: 0.36rem;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC0AAAAbCAMAAADf5/YYAAAAPFBMVEUAAACXl5ebm5uYmJiYmJiXl5eYmJiYmJiZmZmZmZmZmZmbm5uXl5ebm5uYmJiYmJiYmJiXl5eZmZmXl5cCXlFnAAAAE3RSTlMABS7vsIc060z69e7gu6qeiF0ozqeafAAAAHZJREFUOMu9zDkWgkAUBVFRWxmU6e9/rzQkFRDUJ+FFFdzzHhfXlox6Ts2BuygJPMR/52NEzIq/Ef1ao3lXXhy/PkfCHcMdOwefuWO4YOdg52Dn4BQHOwc7B6c42DnYOTjFwRnegxMc7PxXdWsKPnSLKzjP920DyjkKF2pdB8AAAAAASUVORK5CYII=') no-repeat;
    background-size: contain;
    margin-left: 0.4rem;
}
.invoice .input{
    width: 80%;
}
#footer{
    position: fixed;
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    left: 0;
    bottom: 0;
    -webkit-backface-visibility: hidden;
    background: #fff;
}
#footer > span{
    float: left;
    height: 2rem;
    line-height: 2rem;
}
#total-price{
    width: 64%;
    font-size: 0.56rem;
    background: #fff;
    padding-left: 0.6rem;
    box-sizing: border-box;
    color: #448cff;
}
#submit{
    width: 36%;
    background: #448cff;
    color: #fff;
    font-size: 0.6rem;
    text-align: center;
}
.btn-sm{
    font-size: 0.36rem;
    margin-top: 3px;
}
