body{
    background: #f8f8f8;
}
.order-list{
    margin-top: 1.8rem;
}
.order-list li{
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid #f8f8f8;
    margin-bottom: 0.4rem;
    color: #333;
    background: #fff;
}
.order-text{
    color: #999;
    font-size: 0.36rem;
    padding: 0 0.6rem;
    border-bottom: 1px solid #f8f8f8;
}
.order-text span{
    height: 1.2rem;
    line-height: 1.2rem;
}
.order-product{
    padding: 0.6rem;
    box-sizing: border-box;
}
.order-product .img{
    width: 18.84057971%;
    padding-bottom: 18.84057971%;
}
.order-product .desc{
    width: 56.52173913%;
    padding: 0 0.4rem;
    box-sizing: border-box;
    font-size: 0.48rem;
}
.order-product .price{
    width: 24.637681%;
    text-align: right;
    font-size: 0.56rem;
}
.order-product .price .quantity{
    margin-top: 0.28rem;
    color: #9b9b9b;
}
.quantity .small{
    display: inline-block;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    margin-right: 0.1rem;
}
.order-status{
    height: 1.6rem;
    line-height: 1.6rem;
    border-top: 1px solid #f8f8f8;
    box-sizing: border-box;
    color: #D0011B;
}
.order-status .status.done{
    color: #333;
}
.order-status .status{
    margin-left: 0.6rem;
    font-size: 0.4rem;
}
.btns-wrapper{
    margin-right: 0.6rem;
    font-size: 0;
}
.btns-wrapper .btn{
    margin-right: 0.2rem;
}
.btns-wrapper .btn:last-child{
    margin-right: 0;
}
.total-price{
    font-size: 0.36rem;
    padding: 0 0.6rem;
    border-top: 1px solid #f8f8f8;
    text-align: right;
    height: 1.6rem;
    line-height: 1.6rem;
}
.bitmap{
    text-align: center;
    margin: 8.56rem 0 0.6rem 0;
}
.bitmap img{
    display: inline-block;
    width: 3.36rem;
    height: 2.38rem;
}
#page-blank p{
    text-align: center;
    font-size: 0.6rem;
    line-height: 1rem;
    color: #333;
}
#page-blank a{
    color: #448cff;
}
#page-blank a:visited{
    color: #448cff;
}
.dialog-modal .text-left p{
    text-align: left;
    padding: 0;
}
.dialog-modal p{
    font-size: 0.54rem;
    text-align: center;
}
.dialog-modal p.em{
    font-weight: bold;
}
.dialog-modal p.group{
    margin-top: 0;
    line-height: 0.8rem;
}
.dialog-modal .area{
    margin-top: 0.4rem;
}
.dialog-modal .mail,.dialog-modal .deliver{
    margin-top: 0.6rem;
}
.btn{
    border-color: #B5DBFD;
}
.btn-sm{
    padding: 0.45em 0.6em 0.3em;
}
