#done{
    position: absolute;
    top: 0;
    left: auto;
    right: 0.2rem;
    padding: 0 0.4rem;
    height: 1.8rem;
    line-height: 1.8rem;
    box-sizing: border-box;
    color: #448CFF;
    font-size: 0.56rem;
}
#status{
    margin-top: 1.8rem;
}
.circle{
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    margin: 3.6rem auto 0.4rem;
    text-align: center;
}
.shadow{
    box-shadow: 0 0 13px rgba(0,0,0,0.1);
}
.circle img{
    width: 4rem;
    height: 4rem;
}
.visa img{
    width: 1.8rem;
    height: 1.8rem;
    margin-top: 1.1rem;
}
.loading img{
    width: 1.9rem;
    height: 1.5rem;
    margin-top: 1rem;
}
.btn-wrapper{
    margin: 0 0.6rem;
}
.p{
    font-size: 0.52rem;
    color: #333;
    line-height: 0.96rem;
    text-align: center;
}
.order{
    margin: 1.2rem 0;
    font-size: 0.6rem;
}
.bank{
    font-size: 0.6rem;
    color: #333;
    line-height: 0.96rem;
    padding-left: 0.6rem;
    margin: 1.2rem 0;
}
.tip{
    margin: 1.2rem 0;
    font-size: 0.4rem;
    color: #999;
    line-height: 0.72rem;
    text-align: center;
}
.tip a:link{
    color: #999;
}
.tip a:visited{
    color: #999;
}
